html {
  height: 100%;
}

body {
  background-image: url(1bg.png);
  font-family: Arial, Helvetica, sans-serif;
}

.container * {
  position: fixed;
  align-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 300px;
}

.penguin {
  position: absolute;
  left: 480px;
  top: 230px;
}

.gunter {
  position: absolute;
  left: 570px;
  top: 320px;
}

.shells {
  position: absolute;
  top: 290px;
  left: -55px;
}

h1 {
  color: white;
  font-size: 25px;
  left: 60px;
  top: 50px;
}

p {
  color: white;
  font-size: 12px;
  top: 150px;
  left: 60px;
  text-align: left;
}
